@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #333;
}

a {
    color: white;
}

.container {
    max-width: 30%;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select,
input[type="number"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="text"] {
    background-color: #f9f9f9;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-container label {
    margin-right: 10px;
}

.svg-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#output {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    height: 25px;
}

@media (max-width: 700px) {
    .container {
        max-width: 70%;
        padding: 30px;
    }

    h2 {
        font-size: 18px;
    }

    select,
    input[type="number"],
    button {
        font-size: 12px;
    }
}